body {
    width: 600px;
    margin: 0 auto;
    background-color: #5cf7e2eb;
    padding: 10px 10px 10px 5px;
}

.container {
    background-color: rgb(109, 1, 250); 
    padding: 20px;
    margin: 20px; 
    border: 5px solid black;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container img {
    display: block;
    margin: 0 auto; 
}

.container h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 10px #0000FF;
    color: #FFFFFF;
    font-style: italic;
}
p {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
}

