body {
    width: 600px;
    margin: 0 auto;
    background-color: #0d37c1eb;
    padding: 10px 10px 10px 5px;
}

.container {
    background-color: rgb(218, 136, 35); /* Yellow color inside the frame */
    padding: 20px; /* Padding to create space inside the frame */
    margin: 20px; /* Margin to create space outside the frame */
    border: 5px solid black;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container img {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.container h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 10px #0000FF; /* Blue text shadow */
    color: #FFFFFF; /* White text color */
    font-style: italic;
}
p {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
}

